
@using Thuctapchuyenmon.Models
@model IEnumerable<SanPham>
@{
    Layout = null;
    //khoi tao control wwebgird
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 5);
}
<h2 style=" color: #ed71a3; text-align:center">Danh sách sản phẩm</h2>
<div class="grid-product">


        @webGrid.GetHtml(
            tableStyle: "tablesp",
            headerStyle: "gridhead",
            footerStyle: "gỉdfooter",
            rowStyle: "gridrow",
            alternatingRowStyle: "gridaltrow",
            columns: webGrid.Columns(
                webGrid.Column("ID", "Mã sản phẩm", style: "id"),
                webGrid.Column("Name", "Tên sản phẩm",style: "ten"),
                webGrid.Column("Anh", "Ảnh sản phẩm", style: "anh", format: c => @Html.Raw("<img  width=\"200\" height=\"200\"  src=\"../content/images/" + c.Anh + "\" ,height:300px, width:300px>")),

                webGrid.Column("Gia", "Giá sản phẩm", style:"gia"),
                 webGrid.Column(format:c=>@Html.ActionLink("Thêm","Themsp",new {Hinhanh=c.Anh })),
                webGrid.Column(format:c=>@Html.ActionLink("Sửa","uploadsp",new {id=c.ID })),
                webGrid.Column(format:c=>@Html.ActionLink("Xóa","Deletesp",new {id=c.ID }))
               ))
    </div>

    <style>


        .tablesp {
            width:100%;
           color: #ed71a3;
            border: 1px solid #ed71a3;
            display: table;
           

        }

        .gridhead {
            background-color: #ed71a3;
              text-align:center;
            

        }

            .gridhead > th > a {
                color: white;
                text-align:center;

              display:table-cell;

            }

        .id {
            display:table-cell;
           
            text-align: center;
        }
        .ten{
            text-align:center;
           
        }

     .gia{
         text-align:center;
     }
    </style>
@*@{
    WebDBContext db = new WebDBContext();
   // var db1 = Database.Open("ThucTapChuyenMon");
    var selectQueryString = "SELECT * FROM SanPham ORDER BY Name";
    var data = db.SanPhams(selectQueryString);
    var grid = new WebGrid(data);
}
<html>
<head>
    <title>Displaying Data Using the WebGrid Helper</title>
</head>
<body>
    <h1>Small Bakery Products</h1>
    <div id="grid">
        @grid.GetHtml()
    </div>
</body>
</html>*@